{% extends "layout.html" %} {% block content %}
<div class="bg-accent hidden"></div>
<div class="w-fit mx-auto py-10 flex gap-10">
  <form id="form-file-upload" class="self-center" method="POST" enctype="multipart/form-data">
    <h2 class="mb-2 text-center">[ Format in jpg, jpeg, png, or webp ]</h2>
    <div id="upload-container" class="p-20 rounded border-2 border-accent border-dashed w-full mx-auto text-accent">
      <div id="drop-file-cmd" class="flex flex-col items-center justify-center gap-2 text-xl font-medium">
        <input type="file" name="file-image" id="upload-file" multiple class="hidden" />
        <label for="upload-file">Drag and drop file here</label>
        <span class="text-secondary">or</span>
        <label id="browse-file" for="upload-file" class="btn btn-accent">Browse file</label>
      </div>
      <div id="file-info" class="flex items-center justify-center flex-col">
        <img id="jpg-icon" src="{{ url_for('static', filename='icon/jpg.svg') }}" alt="jpg icon" class="hidden" />
        <img id="webp-icon" src="{{ url_for('static', filename='icon/webp.svg') }}" alt="webp icon" class="hidden" />
        <img id="png-icon" src="{{ url_for('static', filename='icon/png.svg') }}" alt="png icon" class="hidden" />
        <p id="file-name" class="mt-1 text-lg text-neutral font-semibold"></p>
      </div>
    </div>
    <h2 id="error-file" class="hidden text-error text-right mt-2 text-sm">it has to be the right format</h2>
    <div class="grid grid-flow-row grid-cols-2 gap-4 mt-4">
      <button type="button" id="remove-file" class="btn btn-accent btn-outline hidden w-full">remove file</button>
      <button type="button" type="submit" id="submit-file" class="btn btn-accent hidden w-full">set image</button>
    </div>
  </form>
  <div id="loading-setup" class="text-center my-10 self-center hidden">
    <div class="flex items-center gap-2 text-accent mx-auto w-fit">
      <p>Setting up an Image</p>
      <span class="loading loading-bars loading-md"></span>
    </div>
    <p>Please wait a minute.</p>
  </div>
  <div id="image-input" class="hidden">
    <h2 class="badge badge-accent badge-outline mb-2">Original / Input</h2>
    <img id="original-fire-image" src="{{ url_for('static', filename='image/no-image.webp') }}" alt="input" class="max-w-sm rounded" />
    <p class="mt-1">Fire detected is <span id="fire-percentage"></span></p>
    <p id="warning-msg" class="text-sm my-1 hidden">Do you still want to <button type="button" class="procceed-btn btn btn-sm btn-accent">procceed</button> ?</p>
    <button type="button" id="procceed-btn" class="procceed-btn btn btn-accent w-full hidden mt-4">procceed</button>
  </div>
</div>
<div id="loading-proccess" class="text-center my-10 hidden">
  <div class="flex items-center gap-2 text-accent mx-auto w-fit">
    <p>Proccessing the Image</p>
    <span class="loading loading-infinity loading-lg"></span>
  </div>
  <p>Please wait, it may take a while.</p>
  <p class="mt-1 text-sm text-success">(Estimation : 4 - 5 Minutes)</p>
</div>
<div id="output" class="py-10 hidden">
  <div class="mx-auto w-fit">
    <h2 class="badge badge-accent badge-outline mb-2">Segmented / Output</h2>
    <img id="output-image" src="{{ url_for('static', filename='image/no-image.webp') }}" alt="output" class="max-w-sm rounded" />
  </div>
</div>
<script src="{{ url_for('static', filename='js/uploadFile.js' )}}"></script>
{% endblock %}
